<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>Rooms</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <!--<span class="icon-bar"></span>-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index0" style="background-color: firebrick; opacity: .8; color: white">Peca Hotel</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Bookings</a></li>
                        <li><a href="#">Rooms</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign"></span> About Us</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-phone-alt"></span> Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="jumbotron text-center" style="background-color: teal; color: white">
            <h2 >View Available Rooms</h2>
        </div>
        <!--<div class="row text-center">-->
            <!--<div class="col-sm-6" style="border: solid 2px">Room Image</div>-->
            <!--<div class="col-sm-4" style="border: solid 2px">Room Description</div>-->
            <!--<div class="col-sm-4" style="border: solid 2px">Room Type</div>-->
            <!--<div class="col-sm-2" style="border: solid 2px">Room Price</div>-->
        <!--</div>-->

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <!--<tr>-->
                    <th>S/N</th>
                    <th>Room Description</th>
                    <th>Room Type</td>
                    <th>Room Status</th>
                    <th>Room Price</th>
                <!--</tr>-->
                </thead>

                <tbody>
                <tr th:each="room:${rooms}">
                    <td><span th:text="${room.id}"></span></td>
                    <td><span th:text="${room.roomDescription}"></span></td>
                    <td><span th:text="${room.roomType}"></span></td>
                    <td><span th:text="${room.roomStatus}"></span></td>
                    <td><span th:text="${room.roomPrice}"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>